<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Neumorphism</title>
        
        <link rel="stylesheet" href="neumorphism.css">
    </head>

    <body>
        <div data-layer="b53cfac5-2faa-4dfe-a0a6-e849dbc2e88c" class="neumorphism">        <div data-layer="986276b5-75c0-43f6-8c71-aa7aae109f62" class="downCircle">            <div data-layer="af9231cf-4ee9-4891-a860-2d76b0ca74df" class="downfe572efb"></div>
</div>
        <div data-layer="2e641053-ea6f-4fd8-b5cc-c3452dda1a65" class="downSquare">            <div data-layer="00142acf-12e5-4ec0-80b1-abeca5181bf8" class="down780ff55f"></div>
</div>
        <div data-layer="a61c9039-e190-4102-aec7-abf7115e8902" class="upCircle">            <div data-layer="e4ce8aab-163b-4c0f-872f-0d0037810992" class="dark4d1fb050"></div>
            <div data-layer="7e20ae17-5a52-4152-837b-7604535a669a" class="light293f980d"></div>
</div>
        <div data-layer="26830a43-22ff-4576-a517-57ac0aa49f2f" class="upSquare">            <div data-layer="686b4554-15e8-4626-9f47-4c79e18abaa2" class="dark"></div>
            <div data-layer="aaf0ac6a-ddb0-4079-b536-b6686706fb37" class="light"></div>
</div>
        <div data-layer="0720f31b-062c-4ffb-81cf-89160d96512e" class="tablecd5ec430">            <div data-layer="3d75c6da-a964-4af1-8b22-12797e2306e6" class="carda43e693e">                <div data-layer="85ef8c05-f6c6-48eb-bfc7-4859b2391296" class="up9394af99">                    <div data-layer="5c755505-34fb-4717-b68c-f2b464d018a9" class="rectangle294a6f87a"></div>
                    <div data-layer="1ee28cdc-1bf6-4087-9957-66c1ca1bde54" class="rectangle3c52bb35d"></div>
</div>
</div>
            <div data-layer="8a01c05a-1971-45a9-87c7-326fbbbb361c" class="table">Table</div>
</div>
        <div data-layer="b91dfb5a-b9f7-414d-a2b1-ffdc3e76b542" class="divider">            <div data-layer="e4471a02-2b6b-430e-a457-f551a4ef9cd7" class="downae4e3ee1">                <div data-layer="057e591f-231c-48f3-a15e-8e3db7436da2" class="maskGroup10fb69116"></div>
</div>
</div>
        <div data-layer="678f8852-456c-4f2c-9e3d-f717f9598a7b" class="icons">            <div data-layer="dd7f5ec6-de57-4a1b-9fa5-3cdefabfb424" class="icon3">                <div data-layer="f2c45a00-9161-4070-8d1a-c4f851668feb" class="upc9391eb5">                    <div data-layer="48f638a9-e0c6-46c6-8685-a051332b6c41" class="rectangle2fb30d6ec"></div>
                    <div data-layer="f1f4f385-590f-48cf-90d0-9d0a04279432" class="rectangle3bb740007"></div>
</div>
                <div data-layer="04ef5305-1b8e-4e13-ad3d-65fdd7d2a985" class="downbee1c5c0">                    <div data-layer="7f03f19b-000e-4606-aefc-92b6d97b7783" class="maskGroup1de812fcd"></div>
</div>
</div>
            <div data-layer="5a64b686-5597-4981-a05c-8fc2c37dc340" class="icon4">                <div data-layer="3eb7a49c-d99a-471e-96e7-c1870c7252e5" class="up7f8bc142">                    <div data-layer="4c8e555c-2aa3-4bcb-8565-3a69f973c22f" class="rectangle21f27787c"></div>
                    <div data-layer="396e121b-d489-4805-ace4-fcafb258c9ca" class="rectangle3cd534d88"></div>
</div>
                <div data-layer="7e7aa09b-6d60-4651-934c-bb96837b449c" class="down4d65c2a0">                    <div data-layer="96ec4944-93af-4d91-bc0c-73cea30804c9" class="maskGroup1b4509454"></div>
</div>
</div>
            <div data-layer="335bc2f0-10bb-4d48-851c-e54e216055d5" class="icon21d3ec616">                <div data-layer="832631e2-26f0-4b54-9168-5ec84e651b92" class="icon2">                    <div data-layer="181cce12-3883-4793-9795-2b66dfcdff2a" class="maskGroup17f82648d"></div>
</div>
</div>
            <div data-layer="532c147f-0169-482f-87b8-0beedff15312" class="icon115b62dc6">                <div data-layer="32327d0a-1ade-4585-86c7-6342df3fdb90" class="icon1">                    <div data-layer="d0ac16c8-451a-48ba-8a51-1d94bc9aae70" class="rectangle2bfe3f655"></div>
                    <div data-layer="cd4a9fca-6763-4552-8157-3a2cbdb7e3ed" class="rectangle3a529f04c"></div>
</div>
</div>
</div>
        <div data-layer="c6ed772f-8e9d-49be-b984-98648f1ebe36" class="buttonDefault">            <div data-layer="63eefb17-e045-45b4-bbde-dd6a37505347" class="up1d326a3e">                <div data-layer="da564b33-3309-4c25-a5e6-fe921465296d" class="rectangle2678a0117"></div>
                <div data-layer="a52fd5f3-b2d8-4762-9aaa-4e369f21e67e" class="rectangle39768af03"></div>
</div>
            <div data-layer="2b742f96-e24f-4e3a-88d9-2e92d574752c" class="buttonbf2f8bf3">Button</div>
</div>
        <div data-layer="63d37740-ddb0-43b7-8185-181154e8f29d" class="navbar">            <div data-layer="30c74369-2229-4f10-b07b-a3843890355c" class="up009a730d">                <div data-layer="cc43a627-98bb-455a-bf22-c3090df6dcc0" class="rectangle2e0336fc6"></div>
                <div data-layer="6a3887a1-3c6f-4746-ade9-0f9981a56db1" class="rectangle39dd00ad4"></div>
</div>
</div>
        <div data-layer="84fcecb2-6e58-43df-9ea4-a02d30fc57a5" class="buttonColor">            <div data-layer="67eed888-1bf8-43d7-b413-8871240dcff2" class="upb5717c63">                <div data-layer="c144c0b7-6937-4660-b0c9-37ef7891ccad" class="rectangle231dd76e9"></div>
                <div data-layer="716f025a-70bb-4673-89e5-f7c260e4144b" class="rectangle3e113ad61"></div>
</div>
            <div data-layer="ad90f967-bb1b-4c4c-a3de-2456f8780760" class="rectangle14"></div>
            <div data-layer="c395c2d7-4446-4845-84ad-5de5e6cfadb8" class="button">Button</div>
</div>
        <div data-layer="e39da36c-68c0-48b8-bd74-897142bc44a2" class="inputColor">            <div data-layer="277c8b87-8a12-4b63-905d-d42f34ba98db" class="downf93e9d64">                <div data-layer="1c686a93-a51a-4605-b2b4-e8ab5257e375" class="maskGroup1644fae96"></div>
</div>
            <div data-layer="9c66f088-4c3c-4be4-9368-814240ad0853" class="rectangle13a9c5a975"></div>
            <div data-layer="9b436466-3b6d-4d2d-86bc-16ccc961ec31" class="inputba429f3f">Input</div>
</div>
        <div data-layer="3b3e413d-325e-41fa-b6c5-8b31656540f3" class="inputDefault">            <div data-layer="90fa8ba2-f5af-4443-9028-40d904cb646c" class="down">                <div data-layer="963728fb-d28c-4565-9baa-4f0ed54957b8" class="maskGroup1"></div>
</div>
            <div data-layer="5d1194dc-871b-4116-8052-0a5b15f87c60" class="rectangle13"></div>
            <div data-layer="e86f550a-89e6-41b6-877d-595167bb0ebe" class="input">Input</div>
</div>
        <div data-layer="32e0d0ae-8ec6-4fa1-a235-945311e199c3" class="card">            <div data-layer="ab047ead-36e0-4551-aa4b-de4e760d4cad" class="up">                <div data-layer="8144c570-36ed-4f54-b5c9-c09d8125fbaa" class="rectangle2"></div>
                <div data-layer="3361e1fe-458a-4d80-a188-36e4601b48f5" class="rectangle3"></div>
</div>
</div>
</div>


    
    </body>
    </html>
            